#normal_div {
    width: 150px;
    height: 50px;
    background-color: blue;
}

#transformed_div {
    margin-top: 50px;
    width: 150px;
    height: 50px;
    background-color: rgb(3, 205, 240);
    transform: rotatex(180deg);
}